* {
    color: #ffffff;
    margin: 0;
}
      /* Upper Head styling */

.UpperHead {
    background-color: #1D2F6F;
    height: 9rem;
    border: 3px solid #031283d8;
    padding: 1rem 10rem 1rem 10rem;
    display: flex;
    justify-content:flex-start; 
}
.ATLlogo {
    height: 9.5rem;
    width: 9.5rem;
    background-image: url("Images/ATL\ logo.png");
    background-size: cover;
}
.UpperHeadBanner {
    height: 10rem;
    width: 20rem;
    margin-left: 2rem;
    background-image: url("Images/ATL\ banner.png");
    background-size: cover;  
}
     /* Lower Head styling */

.LowerHead {
    height: 5rem;
    background-color: #8390FA;
    border: 2px dotted #031283de;
    border-top: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center ;
     
}
.PopularCources {
    background-color:#1D2F6F ;
    border-radius: 8%;
    height: 3.5rem;
    width: 10.5rem;
    align-content:space-around;
    padding-left: 1.5rem;
}
.ComboCources {
    background-color:#1D2F6F ;
    border-radius: 8%;
    height: 3.5rem;
    width: 10.5rem;
    align-content:space-around;
    padding-left: 2rem;
}
.YoutubeLink {
    background-color:#1D2F6F ;
    border-radius: 8%;
    height: 3.5rem;
    width: 11rem;
    align-content:space-around;
    padding-left: 1.5rem;
}
     /* Banner Slide */

     /* Main Body Styling */
.MainBody {
    height: 20rem;
    background-color:#fff7f8 ;
}

     /* Footer uper styling */
.footerUpper{  
    height: 15rem;
    background-color: #fff7f8;       
    /* border-top: 1px  #ce8693 dotted; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
} 
.ConactDiv {
    height: 13rem;
    width: 18.5rem; 
    background-image: url("Images/Contact.png");
    background-size: cover;
    border: 2px #ce8693 dotted;
    border-radius: 20%;
    border-bottom-right-radius: 0%;
    margin: 0rem 0.5rem 0rem 3rem;
    align-content: space-around;
}
.AddressDiv {
    height: 11rem;
    width: 15rem; 
    background-image: url("Images/Address.png");
    background-size: cover;
    border: 2px  #ce7c8b dotted;
    border-radius: 20%;
    border-bottom-left-radius: 0%;
    margin-top: 2rem;
    align-content: space-around;
}

/* .footerUpper {
    height: ;
    width: ;
}
.footerLower {
    height: ;
    width: ;
} */