* {
    color: #ffffff;
    margin: 0;
}
      /* Upper Head styling */

.UpperHead {
    background-color: #1D2F6F;
    height: 10rem;
    border-bottom: 3px solid #ffffff;
    padding: 1rem 10rem 1rem 10rem;
    display: flex;
    justify-content:flex-start; 
}
.ATLlogo {
    height: 9.5rem;
    width: 9.5rem;
    background-image: url("Images/ATL\ logo.png");
    background-size: cover;
    animation: ATLlogo 3s ease-in-out 0s 1 normal; 
    
}
@keyframes ATLlogo {
    0% {
        scale: 0;
    }
    80% {
        scale: 1.10;
    }
    100% {
        scale: 1;
    }

}
.UpperHeadBanner {
    height: 10rem;
    width: 25rem;
    margin-left: 2rem;
    background-image: url("Images/ATL\ banner.png");
    background-size: cover; 
    animation: UpperHeadBanner 3s linear 0s 1 normal; 
}
@keyframes UpperHeadBanner {
    0% {
        width: 0rem;
    }
    80% {
        width: 25rem;
        scale: 1;
    }
    90% {
        scale: 1.10;
    }
    100% {
        scale: 1;
    }
}
     /* Lower Head styling */

.LowerHead {
    height: 5rem;
    background-color: #8390FA;
    border-bottom: 0.1rem dashed #031283de;
    border-top: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center ;
     
}
.LowerHeadButtons {
    background-color:#1D2F6F;
    border: 0.20rem solid #ffffff;
    font-size: 1rem;
    border-radius: 1rem;
    height: 3.5rem;
    width: 10.5rem;
    align-content: center;
}
.LowerHeadButtons:hover {
    border: 0.20rem solid #FAC748;
    font-size: 1.1rem;
}

     /* Main Body Styling */
.MainBody {
    background-color:#F9E9EC ;
}

 /* Banner Slide */
.BannerSliding{
    height: 20rem;
    background-color: #F9E9EC;
    border: 0.5rem solid #F88DAD;
    padding: 0.5rem;
    display: flex;
    
}
.BannerSlide {
    border: 0.25rem solid #1D2F6F;
    width: 100%;
    background-size: cover;
    transition: active 2s ease-in ;
}
.BannerSlide:active {
    scale: 1.5;
    border: none;
}
/* Slide1 */
#Slide1 {
    animation: Slide1Animate 20s step-start 0s infinite;
}
@keyframes Slide1Animate {
    
    20% {
        background-image: url("Images/Slidepic1.jpg");
    }
    40% {
        background-image: url("Images/Slidepic2SpecialOccation.png");
    }
    60% {
        background-image: url("Images/Slidepic3.jpg");
    }
    80% {
        background-image: url("Images/Slidepic4.jpg");
    }
    100% {
        background-image: url("Images/Slidepic5.jpg");
    }

}
/* Slide2 */
#Slide2 {
    animation: Slide2Animate 20s step-start 0s infinite;
}
@keyframes Slide2Animate {
    
    20% {
        background-image: url("Images/Slidepic2SpecialOccation.png");
    }
    40% {
        background-image: url("Images/Slidepic3.jpg");
    }
    60% {
        background-image: url("Images/Slidepic4.jpg");
    }
    80% {
        background-image: url("Images/Slidepic5.jpg");
    }
    100% {
        background-image: url("Images/Slidepic1.jpg");
    }

}

/* Slide3 */
#Slide3 {
    animation: Slide3Animate 20s step-start 0s infinite;
}
@keyframes Slide3Animate {
    
    20% {
        background-image: url("Images/Slidepic3.jpg");
    }
    40% {
        background-image: url("Images/Slidepic4.jpg");
    }
    60% {
        background-image: url("Images/Slidepic5.jpg");
    }
    80% {
        background-image: url("Images/Slidepic1.jpg");
    }
    100% {
        background-image: url("Images/Slidepic2SpecialOccation.png");
    }

}


     /* Footer uper styling */
.footerUpper{  
    height: 15rem;
    background-color: #fff7f8;       
    /* border-top: 1px  #ce8693 dotted; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
} 
.ConactDiv {
    height: 13rem;
    width: 18.5rem; 
    background-image: url("Images/Contact.png");
    background-size: cover;
    border: 2px #ce8693 dotted;
    border-radius: 20%;
    border-bottom-right-radius: 0%;
    margin: 0rem 0.5rem 0rem 3rem;
    align-content: space-around;
}
.AddressDiv {
    height: 11rem;
    width: 15rem; 
    background-image: url("Images/Address.png");
    background-size: cover;
    border: 2px  #ce7c8b dotted;
    border-radius: 20%;
    border-bottom-left-radius: 0%;
    margin-top: 2rem;
    align-content: space-around;
}

/* .footerUpper {
    height: ;
    width: ;
}
.footerLower {
    height: ;
    width: ;
} */