* {
    color: #ffffff;
    margin: 0;
}
.headPanel {
    height: 8rem;
    width: 100%;
    background-color: #1D2F6F;
    border-bottom: 0.1rem dashed #1D2F6F;
    display: flex;
    justify-content:space-evenly;
    align-items: center; 

}
.ATLlogo {
    height: 5.8rem;
    width: 5.8rem;
    background-image: url("/ATL-Academy-Webpage-/Images/ATL\ logo.png");
    background-size: cover;
}
.headButtonPanel {
    height: 5.5rem;
    width: 90%;
    background-color: #8390FA;
    border-radius: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center ;
    
}
#homeButton {
    width: 3.5rem;
}
.headButton {
    background-color:#1D2F6F;
    border: 0.20rem solid #ffffff;
    font-size: 1rem;
    border-radius: 1rem;
    height: 3.5rem;
    width: 10.5rem;
    align-content: center;
    transition: box-shadow 0.35s ease;
}
.headButton:hover {
    border: 0.20rem solid #FAC748;
    font-size: 1.1rem;
    box-shadow: 5px 5px 0px #000000;
}
/* main body styling */
/* .mainbody {
 } */
 /* All course designs */
 .coursediv {
    height: 20rem;
    width: 100%;
    border: 5px solid ;
    border-top: none;
    border-radius: 10rem 0 0 10rem;
    padding-left: 5rem;
    display: flex;
    align-items: center;
 }
 /* Course div custom design */
 #course1 {
    border-color: #645DD7;
 }
 #course2 {
    border-color: #FB62F6;
 }
 #course3 {
    border-color: #FF4242;
 }
 
 
 /* Course Image Design */
 .coursePic {
    height: 17rem;
    width: 33rem;
    border: 2px solid #1D2F6F;
    margin-left: 7rem;
    margin-right: -4rem;
    z-index: 1;
    border-radius: 0 5rem 0 5rem;
    background-size: cover;
 }

#coursepic1 {
    background-image: url("/ATL-Academy-Webpage-/Images/PCourse1Pic.png");
}

#coursepic2 {
    background-image: url("/ATL-Academy-Webpage-/Images/PCourse2Pic.png");
}

#coursepic3 {
    background-image: url("/ATL-Academy-Webpage-/Images/PCourse3Pic.png");
}

/* Course Details Div */

.CourseDetail {
    height: 15rem;
    width: 32rem;
    color: #1D2F6F;
    border: 2px dashed #1D2F6F;
    border-left: none;
    padding: 1rem 1rem 1rem 5rem;
    border-top-right-radius: 5rem;
}


/* Course Name Div Design */

/* .courseName {
    height: 3rem;
    width: 27rem;
    border: 2px solid #f88dad;
    margin-top: 3rem;
    
} */

