* {
    color: #ffffff;
    margin: 0;
}
.headPanel {
    height: 8rem;
    width: 100%;
    background-color: #1D2F6F;
    border-bottom: 0.1rem dashed #1D2F6F;
    display: flex;
    justify-content:space-evenly;
    align-items: center; 

}
.ATLlogo {
    height: 5.8rem;
    width: 5%;
    background-image: url("/ATL-Academy-Webpage-/Images/ATL\ logo.png");
    background-size: cover;
}
.headButtonPanel {
    height: 5.5rem;
    width: 90%;
    background-color: #8390FA;
    border-radius: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center ;
    
}
#homeButton {
    width: 3.5rem;
}
.headButton {
    background-color:#1D2F6F;
    border: 0.20rem solid #ffffff;
    font-size: 1rem;
    border-radius: 1rem;
    height: 3.5rem;
    width: 10.5rem;
    align-content: center
}
.headButton:hover {
    border: 0.20rem solid #FAC748;
    font-size: 1.1rem;
    box-shadow: 5px 5px 6px #000000;
}
/* main body styling */
.mainbody {
    background-color: #F9E9EC ;
 }
 /* All course designs */
 .coursediv {
    height: 20rem;
    width: 100%;
    border: 5px solid ;
    border-top: none;
    border-radius: 10rem 0 0 10rem;
    padding-left: 5rem;
    display: flex;
    align-items: center;
 }
 /* Course div custom design */
 #course1 {
    border-color: #645DD7;
 }
 #course2 {
    border-color: #FB62F6;
 }
 #course3 {
    border-color: #FF4242;
 }
 /* trending number */
 .trendingNo {
    height: 10rem;
    width: 10rem;
    background: linear-gradient(to right bottom , red,yellow);
    font-size: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
 }
 
 /* Course Image Design */
 .coursePic {
    height: 15rem;
    width: 20rem;
    border: 2px dashed #1D2F6F;
    margin: 7rem;
    border-radius: 0 5rem 0 5rem;
 }

 

